.brandName{
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    color: #d4081a !important;
}

.brandName:hover{
    color: #EE5757 !important;
}

